openapi: 3.1.0
info:
  version: '1.0'
  title: Voyage-Insights
  summary: Technical documentation for the Pole Star Voyage Insights API
  description: |
    The voyage insights API provides a number of endpoints which return information regarding a vessel's movements during its voyage at sea.

    This API currently has the following endpoints available:

    #### Vessel Zone & Port events
    This endpoint returns a list of port calls and zone events for a given vessel. There are 6 different event types which are covered:

    - **Port Entry**: When the vessel crosses into the port's boundary as defined by the port polygon.
    - **Port Arrival**: When the vessel is inside the port's boundary and has stopped.
    - **Port Departure**: When the vessel is inside the port's boundary and has resumed it's voyage.
    - **Port Exit**: When the vessel crosses the port's boundary on its way out.
    - **Zone Entry**: When the vessel enters a zone (where zone_type does not equal Port)
    - **Zone Exit**: When the vessel exits a zone (where zone_type does not equal Port)

    #### Vessel AIS Reporting Gaps
    Retrieve a list of AIS Reporting Gaps for a given vessel and analysis period. The minimum gap duration is configurable.

    #### Positional Discrepancies
    Provides a list of found discrepancies for a vessel in a given analysis period. These discrepancies can be indicative of AIS spoofing.

    #### Port State Control
    Get a list of Port State Control inspections and detentions for the selected vessel within the given analysis period.
  contact:
    name: support
    url: www.polestarglobal.com/support
    email: support@polestarglobal.com
servers:
  - url: 'https://api.polestar-production.com/voyage-insights'
    description: Production
paths:
  '/v1/vessel-zone-and-port-events/{imo}':
    get:
      summary: Vessel Zone & Port Events
      description: Get a list of all zone entries and exits and port call events for a single vessel for a given time period.
      operationId: get-v1-vessel-zone-and-port-events-imo
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/timestamp_start'
        - $ref: '#/components/parameters/timestamp_end'
        - $ref: '#/components/parameters/zone_port_event_type'
        - $ref: '#/components/parameters/zone_port_id'
        - $ref: '#/components/parameters/zone_port_type'
        - $ref: '#/components/parameters/zone_port_sub_type'
        - $ref: '#/components/parameters/zone_port_country_codes'
        - $ref: '#/components/parameters/port_unlocodes'
        - name: imo
          in: path
          description: The vessel's IMO number
          required: true
          schema:
            type: integer
            format: int32
            minimum: 7
            maximum: 7
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VesselZoneAndPortEventsResponseSchema'
              examples:
                OK:
                  $ref: '#/components/examples/vessel_zone_and_port_events_200'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
              examples:
                Invalid IMO:
                  $ref: '#/components/examples/vessel_zone_and_port_events_400_invalid_imo'
                Missing timestamp_end:
                  $ref: '#/components/examples/vessel_zone_and_port_events_400_missing_timestamp_end'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/vessel_zone_and_port_events_401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
              examples:
                Forbidden:
                  $ref: '#/components/examples/vessel_zone_and_port_events_403'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
              examples:
                IMO Not Found:
                  $ref: '#/components/examples/vessel_zone_and_port_events_404'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
              examples:
                Method Not Allowed:
                  $ref: '#/components/examples/vessel_zone_and_port_events_405'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
              examples:
                timestamp_start incorrectly formatted:
                  $ref: '#/components/examples/vessel_zone_and_port_events_422_timestamp_start'
                Incorrect event_type:
                  $ref: '#/components/examples/vessel_zone_and_port_events_422_event_type'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
              examples:
                Too Many Requests:
                  $ref: '#/components/examples/vessel_zone_and_port_events_429'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
              examples:
                Internal Server Error:
                  $ref: '#/components/examples/vessel_zone_and_port_events_500'
      security:
        - JWT: []
      servers:
        - url: 'https://api.polestar-production.com/voyage-insights'
          description: Production
      x-internal: false
  '/v1/vessel-ais-reporting-gaps/{imo}':
    get:
      summary: Vessel AIS Reporting Gaps
      description: Get a vessel's AIS reporting gaps for a given time period. The reporting gap threshold is configurable.
      operationId: get-v1-vessel-ais-reporting-gaps
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/gap_threshold'
        - $ref: '#/components/parameters/timestamp_start'
        - $ref: '#/components/parameters/timestamp_end'
        - $ref: '#/components/parameters/imo'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VesselAISGapsResponseSchema'
              examples:
                OK:
                  $ref: '#/components/examples/ais_reporting_gaps_200'
                OK - Ongoing Gap:
                  $ref: '#/components/examples/ais_reporting_gaps_200_ongoing_gap'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
              examples:
                Invalid IMO:
                  $ref: '#/components/examples/ais_reporting_gaps_400_invalid_imo'
                Missing timestamp_end:
                  $ref: '#/components/examples/ais_reporting_gaps_400_missing_timestamp_end'
                Missing gap_duration_gte:
                  $ref: '#/components/examples/ais_reporting_gaps_400_missing_gap_duration'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/ais_reporting_gaps_401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
              examples:
                Forbidden:
                  $ref: '#/components/examples/ais_reporting_gaps_403'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
              examples:
                IMO Not Found:
                  $ref: '#/components/examples/ais_reporting_gaps_404'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
              examples:
                Method Not Allowed:
                  $ref: '#/components/examples/ais_reporting_gaps_405'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
              examples:
                gap_duration_gte incorrectly formatted:
                  $ref: '#/components/examples/ais_reporting_gaps_422_gap_duration'
                timestamp_start incorrectly formatted:
                  $ref: '#/components/examples/ais_reporting_gaps_422_timestamp_start'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
              examples:
                Too Many Requests:
                  $ref: '#/components/examples/ais_reporting_gaps_429'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
              examples:
                Internal Server Error:
                  $ref: '#/components/examples/vais_reporting_gaps_500'
      security:
        - JWT: []
      servers:
        - url: 'https://api.polestar-production.com/voyage-insights'
          description: Production
      x-internal: false
  '/v1/vessel-sts-pairings/{imo}':
    get:
      summary: Vessel STS Pairings
      description: Get a vessel's Ship to Ship Pairings for a given time period. The pairing type and duration threshold are configurable.
      operationId: get-v1-vessel-sts-pairings-imo
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/timestamp_start'
        - $ref: '#/components/parameters/timestamp_end'
        - $ref: '#/components/parameters/sts_type'
        - $ref: '#/components/parameters/sts_duration_gte'
        - name: imo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VesselSTSResponseBody'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
      security:
        - JWT: []
      servers:
        - url: 'https://api.polestar-production.com/voyage-insights'
          description: Production
      x-internal: false
  '/v1/vessel-positional-discrepancy/{imo}':
    get:
      summary: Positional Discrepancies
      description: |-
        Retrieve a list of AIS positional discrepancy events for a single vessel across a given time period.

        Positional Discrepancies can be indicative of AIS Spoofing. This service currently identifies the following common types of discrepancy events:

        - **Same Position**: The vessel transmits the exact same location for the given time duration.
        - **Bounding Box**: The vessel transmits its location in a 50m x 50m area for the given time duration.

        <!-- theme: info -->
        > This service in constantly updated with more discrepancy events. Contact [Pole Star Support](support@polestarglobal.com) or check back here in the future to find out more.
      operationId: get-v1-vessel-positional-discrepancy-imo
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/timestamp_start'
        - $ref: '#/components/parameters/timestamp_end'
        - $ref: '#/components/parameters/pd_duration_hours_gte'
        - $ref: '#/components/parameters/pd_event_types'
        - $ref: '#/components/parameters/imo'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionalDiscrepancyResponseBody'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
      security:
        - JWT: []
      servers:
        - url: 'https://api.polestar-production.com/voyage-insights'
          description: Production
  '/v1/vessel-port-state-control/{imo}':
    get:
      summary: Port State Control
      description: |-
        Get a list of Port State Control inspections and detentions for a single vessel across a given time period.

        The reponse will contain information about the inspection authority, port, type and, where applicable, the duration of the detention.
      operationId: get-v1-port-state-control-imo
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/timestamp_start'
        - $ref: '#/components/parameters/timestamp_end'
        - name: imo
          in: path
          description: The vessel's IMO number
          required: true
          schema:
            type: integer
            format: int32
            minimum: 7
            maximum: 7
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortStateControlResponseSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
      security:
        - JWT: []
      servers:
        - url: 'https://api.polestar-production.com/voyage-insights'
          description: Production
      x-internal: false
components:
  parameters:
    gap_threshold:
      name: gap_threshold_gte
      in: query
      description: The minimum AIS gap duration in hours. Should be greater than or equal to 3 hours.
      required: false
      schema:
        type: integer
        format: int32
        default: 12
    limit:
      name: limit
      in: query
      description: Maximum number of matching results to return.
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 500
        default: 100
        examples:
          - 100
    offset:
      name: offset
      in: query
      description: The number of matching results to skip before returning.
      required: false
      schema:
        type: integer
        format: int32
        minimum: 0
        default: 0
        examples:
          - 0
    zone_port_id:
      name: id
      in: query
      description: Filter positions to only include those which fall inside the specified zones and/or ports. Use the zone & port search API to find the id of any zone or port if this is unknown.
      required: false
      schema:
        type: array
        format: uuid

    timestamp_end:
      name: timestamp_end
      in: query
      description: The end date and time in UTC of the analysis. If ommitted this defaults to the current date and time in UTC.
      required: false
      schema:
        type: string
        format: date-time
    timestamp_start:
      name: timestamp_start
      in: query
      description: The start date and time in UTC of the analysis.
      required: true
      schema:
        type: string
        format: date-time
        examples:
          - '2024-10-01T00:00:00Z'
    zone_port_event_type:
      name: event_type
      in: query
      description: Filter on specific zone or port events. This defaults to all events when omitted.
      required: false
      schema:
        type: array
        enum:
          - ZONE_ENTRY
          - ZONE_EXIT
          - PORT_AREA_ARRIVAL
          - PORT_ARRIVAL
          - PORT_DEPARTURE
          - PORT_AREA_DEPARTURE
    zone_port_type:
      name: types
      in: query
      description: Filter on a specific zone or port type or set of types. Use either this query parameter or the sub_type parameter. Using both can lead to results getting mutually excluded.
      required: false
      schema:
        type: array
        enum:
          - Emission Control Areas (ECA)
          - Jurisdictional
          - JWC War Zones
          - Waterways
          - Custom
          - Ports
        minItems: 1
        examples:
          - Waterways
        uniqueItems: true
    zone_port_sub_type:
      name: sub_type
      in: query
      description: Filter on a specific zone or port sub type or set ohe zof sub types. Use either this query parameter or the types parameter. Using both can lead to results getting mutually excluded.
      schema:
        type: array
        enum:
          - NOX
          - SOX
          - Territorial Waters (12NM)
          - Territorial Waters (24NM)
          - Exclusive Economic Zones (EEZ)
          - Internal Waters
          - Canals
          - Channels
          - Waterways
          - Circular
          - Port
          - Anchorage Area
          - Marina
          - FSO/FPSO
        minItems: 1
        examples:
          - 'Canals,Channels'
        uniqueItems: true
    zone_port_country_codes:
      name: country_code
      in: query
      description: A comma separated list of three letter ISO country codes.
      required: false
      schema:
        type: string
        examples:
          - 'JPN,CHN'
    port_unlocodes:
      name: unlocode
      in: query
      description: A comma separated list of UNLOCODES
      required: false
      schema:
        type: string
        examples:
          - 'CNSGH,CNDAX'
    pd_duration_hours_gte:
      name: duration_hours_gte
      in: query
      description: The minimum discrepancy duration to filter the records based on user's requirement.
      required: false
      schema:
        type: integer
        format: int32
        minimum: 72
    pd_event_types:
      name: event_types
      in: query
      description: Filter on specific types of discrepancies
      required: false
      schema:
        type: array
        enum:
          - SAME_POSITION
          - BOX_FORMATION
          - CIRCLE
          - MMSI_OUTLIER
        examples:
          - 'SAME_POSITION, BOX_FORMATION'
    sts_type:
      name: sts_type
      in: query
      description: 'The type of STS event to filter by. Can be one or more types (comma separated). Available types are: CARGO, BUNKERING, FISHING, UNKNOWN '
      required: false
      schema:
        type: array
        enum:
          - CARGO
          - BUNKERING
          - FISHING
          - UNKNOWN
        examples:
          - 'CARGO, FISHING'
    sts_duration_gte:
      name: sts_duration_gte
      in: query
      description: The minimum duration of the STS event in hours.
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
        examples:
          - 6
    imo:
      name: imo
      in: path
      description: The vessel's IMO number
      required: true
      schema:
        type: integer
        format: int32
        examples:
          - 9658412
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
  examples:
    vessel_zone_and_port_events_200:
      value:
        meta:
          limit: 100
          offset: 0
          total_count: 156
          request_id: 266ea41d-adf5-480b-af50-15b940c2b846
          request_timestamp: '2024-03-24T14:15:22Z'
          zone_version: 0.3.3
        data:
          vessel_information:
            asset_id: 830fb380-d369-4911-91ea-64a863c59538
            callsign: WEFR
            flag: United States
            flag_code: USA
            imo: '9456757'
            mmsi: '366928770'
            name: MAERSK EDINBURGH
            vessel_type: Container Ship
          events:
            - zone_information:
                centroid:
                  longitude: 4.01823
                  latitude: 51.94293
                country_official_name: Kingdom of the Netherlands
                country_code: NLD
                description: Port of Rotterdam
                id: 1340395d-62f4-4e13-a958-041a04fd7149
                name: Rotterdam
                sub_type: Port
                type: Ports
                unlocode: NLRTM
                country_common_name: Netherlands
                sub_division_code: NL-ZH
                sub_division_name: South Holland
                wpi_number: 62750
              event_details:
                course: 83.4
                draught: 14.3
                event_id: a7a26ff2-e851-45b6-9634-d595f45458b7
                event_timestamp: '2024-03-20T08:30:15Z'
                event_type: PORT_AREA_ARRIVAL
                heading: 85
                latitude: 51.94127
                longitude: 4.01376
                navigational_status:
                  status: Under way using engine
                  code: 0
                reported_destination: NLRTM
                reported_eta: '2024-03-20T09:00:00Z'
                speed: 8.3
    vessel_zone_and_port_events_400_invalid_imo:
      value:
        detail: The imo is not formatted correctly. It should be a valid 7 digit number.
        documentation: ''
        field: imo
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-zone-and-port-events/12345
        status: 400
        timestamp: '2024-03-24T14:15:22Z'
        title: Invalid IMO Number
    vessel_zone_and_port_events_401:
      value:
        detail: The JWT token which was submitted has expired.
        documentation: ''
        field: ''
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-zone-and-port-events/1234567
        status: 401
        timestamp: '2024-09-24T12:18:01Z'
        title: Expired JWT token
    vessel_zone_and_port_events_403:
      value:
        detail: Authentication was successful but the user does not have access to the requested resource.
        documentation: ''
        field: ''
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-zone-and-port-events/1234567
        status: 403
        timestamp: '2024-09-24T12:18:01Z'
        title: User does not have access
    vessel_zone_and_port_events_404:
      value:
        detail: The provided IMO can not be found. Please provide valid IMO number.
        documentation: ''
        field: imo
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-zone-and-port-events/1234567
        status: 404
        timestamp: '2024-03-24T14:15:22Z'
        title: IMO not found
    vessel_zone_and_port_events_405:
      value:
        detail: The HTTP method which was used is not allowed on the requested resource.
        documentation: ''
        field: ''
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-zone-and-port-events/1234567
        status: 405
        timestamp: '2024-09-24T12:18:01Z'
        title: Method Not Allowed
    vessel_zone_and_port_events_422_timestamp_start:
      value:
        detail: 'Time Stamp Start incorrectly formatted. The timestamp_start parameter is not formatted correctly. It should be a date-time value in UTC format. For example: yyyy-MM-dd''T''HH:mm:ss or yyyy-MM-dd''T''HH:mm:ssZ.'
        documentation: ''
        field: timestamp_start
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-zone-and-port-events/1234567
        status: 422
        timestamp: '2024-03-24T14:15:22Z'
        title: Time Stamp Start incorrectly formatted
    vessel_zone_and_port_events_429:
      value:
        detail: This request exceeded the total number of allowed requests
        documentation: ''
        field: ''
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-zone-and-port-events/1234567
        status: 429
        timestamp: '2024-03-24T14:15:22Z'
        title: Too Many Requests
    vessel_zone_and_port_events_500:
      value:
        detail: This resource is temporarily unavailable due to an internal server error.
        documentation: ''
        field: ''
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-zone-and-port-events/1234567
        status: 500
        timestamp: '2024-03-24T14:15:22Z'
        title: Internal Server Error
    vessel_zone_and_port_events_422_event_type:
      value:
        detail: 'Invalid event type. It should be one of the following: For Ports:- PORT_AREA_ARRIVAL, PORT_AREA_DEPARTURE, PORT_ARRIVAL, PORT_DEPARTURE. For Zones:- ZONE_ENTRY, ZONE_EXIT'
        documentation: ''
        field: event_type
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-zone-and-port-events/1234567
        status: 422
        timestamp: '2024-03-24T14:15:22Z'
        title: Invalid event type
    vessel_zone_and_port_events_400_missing_timestamp_end:
      value:
        detail: The timestamp_end parameter was included in the request but no value was supplied.
        documentation: ''
        field: timestamp_end
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-zone-and-port-events/1234567
        status: 400
        timestamp: '2024-03-24T14:15:22Z'
        title: Timestamp End value not supplied
    ais_reporting_gaps_400_invalid_imo:
      value:
        detail: The imo is not formatted correctly. It should be a valid 7 digit number.
        documentation: ''
        field: imo
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-ais-reporting-gaps/12345
        status: 400
        timestamp: '2024-03-24T14:15:22Z'
        title: Invalid IMO Number
    ais_reporting_gaps_400_missing_timestamp_end:
      value:
        detail: The timestamp_end parameter was included in the request but no value was supplied.
        documentation: ''
        field: timestamp_end
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-ais-reporting-gaps/1234567
        status: 400
        timestamp: '2024-03-24T14:15:22Z'
        title: Timestamp End value not supplied
    ais_reporting_gaps_400_missing_gap_duration:
      value:
        detail: The gap_threshold parameter was included in the request but no value was supplied.
        documentation: ''
        field: gap_threshold_gte
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-ais-reporting-gaps/1234567
        status: 400
        timestamp: '2024-03-24T14:15:22Z'
        title: Gap duration threshold value not supplied
    ais_reporting_gaps_401:
      value:
        detail: The JWT token which was submitted has expired.
        documentation: ''
        field: ''
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-ais-reporting-gaps/1234567
        status: 401
        timestamp: '2024-09-24T12:18:01Z'
        title: Expired JWT token
    ais_reporting_gaps_403:
      value:
        detail: Authentication was successful but the user does not have access to the requested resource.
        documentation: ''
        field: ''
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-ais-reporting-gaps/1234567
        status: 403
        timestamp: '2024-09-24T12:18:01Z'
        title: User does not have access
    ais_reporting_gaps_404:
      value:
        detail: The provided IMO can not be found. Please provide valid IMO number.
        documentation: ''
        field: imo
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-ais-reporting-gaps/1234567
        status: 404
        timestamp: '2024-03-24T14:15:22Z'
        title: IMO not found
    ais_reporting_gaps_405:
      value:
        detail: The HTTP method which was used is not allowed on the requested resource.
        documentation: ''
        field: ''
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-ais-reporting-gaps/1234567
        status: 405
        timestamp: '2024-09-24T12:18:01Z'
        title: Method Not Allowed
    ais_reporting_gaps_422_gap_duration:
      value:
        detail: The gap_threshold_gte parameter should be an integer and greater than or equal to 3.
        documentation: ''
        field: gap_threshold_gte
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-ais-reporting-gaps/1234567
        status: 400
        timestamp: '2024-03-24T14:15:22Z'
        title: Invalid gap duration
    ais_reporting_gaps_422_timestamp_start:
      value:
        detail: 'Time Stamp Start incorrectly formatted. The timestamp_start parameter is not formatted correctly. It should be a date-time value in UTC format. For example: yyyy-MM-dd''T''HH:mm:ss or yyyy-MM-dd''T''HH:mm:ssZ.'
        documentation: ''
        field: timestamp_start
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-ais-reporting-gaps/1234567
        status: 422
        timestamp: '2024-03-24T14:15:22Z'
        title: Time Stamp Start incorrectly formatted
    ais_reporting_gaps_429:
      value:
        detail: This request exceeded the total number of allowed requests
        documentation: ''
        field: ''
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-ais-reporting-gaps/1234567
        status: 429
        timestamp: '2024-03-24T14:15:22Z'
        title: Too Many Requests
    vais_reporting_gaps_500:
      value:
        detail: This resource is temporarily unavailable due to an internal server error.
        documentation: ''
        field: ''
        request_id: 266ea41d-adf5-480b-af50-15b940c2b846
        resource_uri: /voyage-insights/v1/vessel-ais-reporting-gaps/1234567
        status: 500
        timestamp: '2024-03-24T14:15:22Z'
        title: Internal Server Error
    ais_reporting_gaps_200:
      value:
        meta:
          limit: 100
          offset: 0
          total_count: 12
          request_id: 15f75a23-c987-42e3-9d12-7f1a256ae443
          request_timestamp: '2024-03-24T14:15:22Z'
        data:
          events:
            - event_id: f3f776bf-9ea1-427e-b8c8-525978477192
              gap_duration_hours: 40.59
              draught_change: 0
              stopped:
                course: 270.7
                draught: 4.8
                latitude: 43.943417
                longitude: 135.47728
                navigational_status:
                  status: AT ANCHOR
                  code: '2'
                speed: 0.1
                timestamp: '2024-03-15T12:11:35Z'
              resumed:
                course: 25.2
                draught: 4.8
                latitude: 44.522324
                longitude: 136.24933
                navigational_status:
                  status: UNDER WAY SAILING
                  code: '9'
                speed: 9.7
                timestamp: '2024-03-17T04:46:56Z'
            - event_id: b8567730-4384-406c-af27-93a0320e6398
              gap_duration_hours: 71.27
              draught_change: -0.5
              stopped:
                course: 101.1
                draught: 5.4
                latitude: 49.08402
                longitude: 140.31445
                navigational_status:
                  status: UNDER WAY USING ENGINE
                  code: '1'
                speed: 0.1
                timestamp: '2024-03-20T13:31:09Z'
              resumed:
                course: 120.3
                draught: 4.9
                latitude: 49.15734
                longitude: 141.45223
                navigational_status:
                  status: UNDER WAY USING ENGINE
                  code: '1'
                speed: 7.8
                timestamp: '2024-03-23T12:47:32Z'
          vessel_information:
            asset_id: 551acc0d-e138-4d1f-9475-57b7310abc84
            callsign: UBZI5
            imo: '9217321'
            mmsi: '273359970'
            name: NIKOLAY SHALAVIN
            flag_code: RUS
            flag: Russia
            vessel_type: Oil products tanker
    ais_reporting_gaps_200_ongoing_gap:
      value:
        meta:
          limit: 100
          offset: 0
          total_count: 1
          request_id: 15f75a23-c987-42e3-9d12-7f1a256ae443
          request_timestamp: '2024-03-24T14:15:22Z'
        data:
          events:
            - event_id: b8567730-4384-406c-af27-93a0320e6398
              gap_duration_hours: 71.27
              draught_change: null
              stopped:
                course: 101.1
                draught: 5.4
                latitude: 49.08402
                longitude: 140.31445
                navigational_status:
                  status: UNDER WAY USING ENGINE
                  code: '1'
                speed: 0.1
                timestamp: '2024-03-20T13:31:09Z'
              resumed:
                course: null
                draught: null
                latitude: null
                longitude: null
                navigational_status:
                  status: null
                  code: null
                speed: null
                timestamp: null
          vessel_information:
            asset_id: 551acc0d-e138-4d1f-9475-57b7310abc84
            callsign: UBZI5
            imo: '9217321'
            mmsi: '273359970'
            name: NIKOLAY SHALAVIN
            flag_code: RUS
            flag: Russia
            vessel_type: Oil products tanker
  schemas:
    Response_Metadata:
      type: object
      title: Response Metadata
      description: Describes the metadata object returned in every response.
      properties:
        limit:
          type: integer
          description: The maximum number of results to be returned in the response. Works in conjuction with offset.
          format: int32
          minimum: 1
          maximum: 500
          default: 100
          examples:
            - 100
        offset:
          type: integer
          description: The number of records to skip. works in conjuction with limit.
          format: int32
          minimum: 0
          default: 0
          examples:
            - 0
        request_id:
          type: string
          description: The unique identifier of the request.
          format: uuid
          examples:
            - 266ea41d-adf5-480b-af50-15b940c2b846
        request_timestamp:
          type: string
          description: The date and time in UTC the request was made.
          format: date-time
          examples:
            - '2019-08-24T14:15:22Z'
        total_count:
          type: integer
          description: The total number of results across the entire request. This ignores the chosen limit value.
          format: int32
          examples:
            - 95
      required:
        - request_id
        - request_timestamp
    Basic_Vessel_Information:
      type: object
      title: Basic Vessel Information
      description: Describes all the basic vessel characteristics and identifiers.
      properties:
        asset_id:
          type: string
          description: Pole Star's unique asset identifier
          format: uuid
          examples:
            - b4695157-0d1d-4da0-8f9e-5c53149389e4
        callsign:
          type: string
          description: The vessel's call sign
          examples:
            - OXLT2
        flag:
          type: string
          description: The country name of the flag registry the vessel is flagged to.
          examples:
            - Denmark
        flag_code:
          type: string
          description: The three letter ISO country code of the country the vessel is flagged to
          examples:
            - DNK
        imo:
          type: string
          description: The vessel's IMO number
          examples:
            - '9456757'
        mmsi:
          type: string
          description: The vessel's MMSI number
          examples:
            - '219033000'
        name:
          type: string
          description: The name of the vessel
          examples:
            - MAERSK EDINBURGH
        vessel_type:
          type: string
          description: The vessel type classification.
      required:
        - asset_id
    Error_Response:
      type: object
      title: Error Response
      description: Describes the general format of an HTTP error response.
      properties:
        detail:
          type: string
          description: Human-readable description of the error.
          examples:
            - The timestamp_end parameter was included in the request but no value was supplied.
        documentation:
          type: string
          format: uri
        field:
          type: string
          description: The parameter or field the error relates to (if known).
          examples:
            - timestamp_end
        request_id:
          type: string
          description: The unique identifier of this request.
          format: uuid
          examples:
            - 66ea41d-adf5-480b-af50-15b940c2b846
        resource_uri:
          type: string
          description: The requested resource's URI
          format: uri
          examples:
            - /v1/zone-traffic/266ea41d-adf5-480b-af50-15b940c2b846
        status:
          type: integer
          enum:
            - 400
            - 401
            - 403
            - 404
            - 405
            - 422
            - 429
            - 500
          description: The HTTP status code.
          examples:
            - '400'
        timestamp:
          type: string
          description: The date and time in UTC the error was generated.
          format: date-time
          examples:
            - '2019-08-24T14:15:22Z'
        title:
          type: string
          description: Human-readable summary of the problem.
          examples:
            - Timestamp End value not supplied
      required:
        - request_id
        - status
        - timestamp
    VesselZoneAndPortEventsResponseSchema:
      type: object
      title: VesselZoneAndPortEventsResponseSchema
      description: Describes the full response of the vessel zone and port events get request.
      properties:
        meta:
          $ref: '#/components/schemas/Response_Metadata'
        data:
          type: object
          properties:
            events:
              type:
                - array
                - 'null'
              items:
                $ref: '#/components/schemas/VesselZoneAndPortCallSchema'
            vessel_information:
              $ref: '#/components/schemas/Basic_Vessel_Information'
          required:
            - events
            - vessel_information
      required:
        - meta
        - data
    VesselZoneAndPortCallSchema:
      type: object
      title: VesselZoneAndPortCallSchema
      properties:
        event_details:
          $ref: '#/components/schemas/Vessel_Geo_Event'
        event_type:
          type: string
          enum:
            - ZONE_ENTRY
            - ZONE_EXIT
            - PORT_AREA_ARRIVAL
            - PORT_ARRIVAL
            - PORT_DEPARTURE
            - PORT_AREA_DEPARTURE
        zone_information:
          $ref: '#/components/schemas/ZoneAndPortDefinition'
    Vessel_Geo_Event:
      type: object
      title: Vessel Geo Event
      description: Describes a single geospatial event which can occur for/on a vessel.
      properties:
        course:
          type:
            - number
            - 'null'
          description: |-
            The vessel's course at the time of the position which triggered the event.

            Will be null if unknown.
          format: float
          examples:
            - 0
        draught:
          type:
            - number
            - 'null'
          description: |-
            The vessel's draught in meters at the time of the position which triggered the event.

            Will be null if unknown.
          format: float
          examples:
            - 11.3
        event_id:
          type: string
          description: The unique identifier of the event.
          format: uuid
          examples:
            - a7a26ff2-e851-45b6-9634-d595f45458b7
        event_timestamp:
          type: string
          description: The date and time in UTC at which the event occurred.
          format: date-time
          examples:
            - '2019-08-24T14:15:22Z'
        event_type:
          type: string
          enum:
            - PORT_AREA_ARRIVAL
            - PORT_ARRIVAL
            - PORT_AREA_DEPARTURE
            - PORT_DEPARTURE
            - ZONE_ENTRY
            - ZONE_EXIT
          description: The type of event which was generated.
        heading:
          type:
            - integer
            - 'null'
          description: 'The direction in which a vessel''s bow is pointing at a given time, expressed as the angle between North and the bow of the boat.'
          format: int32
          examples:
            - 160
        latitude:
          type: number
          description: The latitude of a specific location or event.
          format: double
          examples:
            - 47.1231231
        longitude:
          type: number
          description: The longitude of a specific location or event.
          format: double
          examples:
            - 179.99999999
        navigational_status:
          description: The navigational status of the vessel as reported in the AIS message of the position which triggered the event.
          oneOf:
            - $ref: '#/components/schemas/NavigationalStatusObject'
            - $ref: '#/components/schemas/NavigationalStatusField'
        reported_destination:
          type:
            - string
            - 'null'
          description: The vessel's next destination as described in the AIS position message.
        reported_eta:
          type:
            - string
            - 'null'
          description: 'The reported ETA for the vessel next reported destination. Note that these values are derived from the AIS messages and may show raw, unprocessed destination data.'
          format: date-time
        speed:
          type:
            - number
            - 'null'
          description: 'The speed of the vessel at the time of the position which triggered the event, expressed in knots.'
          format: float
          examples:
            - 9.7
      required:
        - course
        - draught
        - event_id
        - event_timestamp
        - event_type
        - heading
        - latitude
        - longitude
        - navigational_status
        - reported_destination
        - reported_eta
        - speed
      examples:
        - course: 0
          draught: 11.3
          event_id: a7a26ff2-e851-45b6-9634-d595f45458b7
          event_timestamp: '2019-08-24T14:15:22Z'
          event_type: PORT_AREA_ARRIVAL
          heading: 160
          latitude: 47.1231231
          longitude: 179.99999999
          navigational_status:
            status: Undefined
            code: 0
          reported_destination: string
          reported_eta: string
          speed: 9.7
      x-examples:
        Example 1:
          course: 0
          draught: 11.3
          event_id: a7a26ff2-e851-45b6-9634-d595f45458b7
          event_timestamp: '2019-08-24T14:15:22Z'
          event_type: ZONE_ENTRY
          heading: 160
          latitude: '47.1231231'
          longitude: '179.99999999'
          navigational_status: string
          reported_destination: string
          reported_eta: string
          speed: '9.70'
    NavigationalStatusObject:
      type: object
      title: NavigationalStatusObject
      properties:
        status:
          $ref: '#/components/schemas/Field_NavigationalStatus'
        code:
          $ref: '#/components/schemas/Field_NavigationalStatusCode'
    Field_NavigationalStatus:
      type: string
      enum:
        - Undefined
        - Under way using engine
        - At anchor
        - Not under command
        - Restricted maneuverability
        - Constrained by her draught
        - Moored
        - Aground
        - Engaged in fishing
        - Under way sailing
        - 'Reserved for future amendment of navigational status for ships carrying DG, HS, or MP, or IMO hazard or pollutant category C, high speed craft (HSC)'
        - 'Reserved for future amendment of navigational status for ships carrying dangerous goods (DG), harmful substances (HS) or marine pollutants (MP), or IMO hazard or pollutant category A, wing in ground (WIG)'
        - Power-driven vessel towing astern (regional use)
        - Power-driven vessel pushing ahead or towing alongside (regional use)
        - Reserved for future use
        - 'AIS-SART (active), MOB-AIS, EPIRB-AIS'
      title: Field_NavigationalStatus
      description: The navigational status of the vessel as reported in the AIS message of the position which triggered the event.
      examples:
        - Under way using engine
    Field_NavigationalStatusCode:
      type: integer
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
        - 9
        - 10
        - 11
        - 12
        - 13
        - 14
        - 15
      title: Field_NavigationalStatusCode
      description: The navigational status code of the vessel as reported in the AIS message of the position which triggered the event.
    NavigationalStatusField:
      type: object
      title: NavigationalStatusField
      properties:
        navigational_status:
          $ref: '#/components/schemas/Field_NavigationalStatus'
    ZoneAndPortDefinition:
      type: object
      title: ZoneAndPortDefinition
      description: 'Describes a single zone or port, excluding polygon data.'
      properties:
        centroid:
          type: object
          properties:
            latitude:
              type: number
              description: The latitude of the centroid of the zone or port.
              format: double
              examples:
                - 47.1231231
            longitude:
              type: number
              description: The longitude of the centroid of the zone or port.
              format: double
              examples:
                - 179.99999999
        country_code:
          type: string
          description: '**(Port Only)** The 3 letter ISO country code of the country the port is located in.'
          examples:
            - NLD
        country_common_name:
          type: string
          description: '**(Port Only)** The common name of the country the port is located in.'
          examples:
            - Netherlands
        country_official_name:
          type: string
          description: |
            **(Port Only)** The official name of the country the port is located in.
          examples:
            - Kingdom of the Netherlands
        description:
          type: string
          description: The description of the zone or port (where available).
        id:
          type: string
          description: The unique identifier of the zone or port.
          format: uuid
        name:
          type: string
          description: The name of the zone or port.
        sub_division_code:
          type: string
          description: '**(Port Only)** The code of the geographic sub division the port belongs to.'
        sub_division_name:
          type: string
          description: '**(Port Only)** The geographic sub division the port belongs to.'
        sub_type:
          $ref: '#/components/schemas/ZoneAndPortSubTypes'
          description: The sub type of the zone or port (where applicable).
        type:
          $ref: '#/components/schemas/ZoneAndPortTypes'
          description: The type of zone. Port zones will be marked as "Ports".
        unlocode:
          type: string
          description: '**(Port Only)** The port''s UNLOCODE'
        wpi_number:
          type:
            - integer
            - 'null'
          description: '**(Port Only)** The World Ports Index identifier of the port.'
      required:
        - centroid
        - description
        - id
        - name
        - sub_type
        - type
    ZoneAndPortSubTypes:
      type: string
      enum:
        - Domestic ECA
        - NOX
        - SOX
        - ERZ
        - HRA
        - WOA
        - Exclusive Economic Zones (EEZ)
        - Internal Waters
        - Territorial Sea
        - OFAC
        - Canals
        - Channels
        - Straits
        - Port
        - Anchorage Area
        - Designated STS Area
        - Floating Storage (FSO/FPSO)
        - Marina
        - Off-shore Terminal
      title: ZoneAndPortSubTypes
    ZoneAndPortTypes:
      type: string
      enum:
        - Emission Control Areas (ECA)
        - IBF
        - Jurisdictional
        - JWC War Zones
        - Regulatory
        - Waterways
        - Ports
        - Custom
      title: ZoneAndPortTypes
    VesselAISGapsResponseSchema:
      type: object
      title: VesselAISGapsResponseSchema
      properties:
        meta:
          $ref: '#/components/schemas/Response_Metadata'
        data:
          type: object
          properties:
            events:
              type: array
              items:
                $ref: '#/components/schemas/AISGapEventSchema'
            vessel_information:
              $ref: '#/components/schemas/Basic_Vessel_Information'
    AISGapEventSchema:
      type: object
      properties:
        event_id:
          type: string
          format: uuid
        gap_duration_hours:
          type: number
          format: float
        draught_change:
          type: number
          format: float
        stopped:
          type: object
          properties:
            course:
              type: number
              format: float
            draught:
              type: number
              format: float
            latitude:
              type: number
              format: double
            longitude:
              type: number
              format: double
            navigational_status:
              $ref: '#/components/schemas/NavigationalStatusObject'
            speed:
              type: number
              format: float
            timestamp:
              type: string
              format: date-time
        resumed:
          type: object
          properties:
            course:
              type: number
              format: float
            draught:
              type: number
              format: float
            latitude:
              type: number
              format: double
            longitude:
              type: number
              format: double
            navigational_status:
              $ref: '#/components/schemas/NavigationalStatusObject'
            speed:
              type: number
              format: float
            timestamp:
              type: string
              format: date-time
      x-examples:
        Example 1:
          event_id: c7f6c75a-ac1e-4ed7-9db5-c2e8d0b5d95e
          gap_duration_hours: 58.67
          draught_change: 0
          stopped:
            course: 50
            draught: 4.8
            latitude: 48.995
            longitude: 140.86333
            navigational_status:
              status: NOT UNDER COMMAND
              code: '3'
            speed: 1
            timestamp: '2025-03-05T14:20:28Z'
          resumed:
            course: 149
            draught: 4.8
            latitude: 49.066666
            longitude: 140.37334
            navigational_status:
              status: UNDER WAY USING ENGINE
              code: '1'
            speed: 9
            timestamp: '2025-03-08T01:00:44Z'
    VesselSTSResponseBody:
      type: object
      title: VesselSTSResponseBody
      description: Describes the full Vessel STS Pairings response body.
      properties:
        meta:
          $ref: '#/components/schemas/Response_Metadata'
        data:
          type: object
          properties:
            events:
              type:
                - array
                - 'null'
              items:
                $ref: '#/components/schemas/VesselSTSEventSchema'
            vessel_information:
              $ref: '#/components/schemas/Basic_Vessel_Information'
          required:
            - events
            - vessel_information
      required:
        - meta
        - data
    VesselSTSEventSchema:
      type: object
      title: VesselSTSEventSchema
      description: Describes a single Vessel STS event.
      properties:
        location:
          type: object
          properties:
            latitude:
              type: number
              format: double
              examples:
                - 51.88327
            longitude:
              type: number
              format: double
              examples:
                - 4.270437
          required:
            - latitude
            - longitude
        duration_hours:
          type: integer
          format: int32
          examples:
            - 6
        paired_vessel:
          $ref: '#/components/schemas/Basic_Vessel_Information'
        started:
          type: string
          format: date-time
        stopped:
          type: string
          format: date-time
        sts_type:
          type: string
          enum:
            - Cargo
            - Bunkering
            - Fishing
            - Unknown
          examples:
            - Bunkering
      required:
        - location
        - duration_hours
        - paired_vessel
        - started
        - stopped
        - sts_type
    PositionalDiscrepancyResponseBody:
      type: object
      title: PositionalDiscrepancyResponseBody
      description: Describes the response from the Positional Discrepancy request.
      properties:
        meta:
          $ref: '#/components/schemas/Response_Metadata'
        data:
          $ref: '#/components/schemas/PositionalDiscrepancySchemaWithVesselInfo'
      required:
        - meta
        - data
    PositionalDiscrepancySchemaWithVesselInfo:
      type: object
      title: PositionalDiscrepancySchemaWithVesselInfo
      description: Describes the response from the Positional Discrepancy request.
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/PositionalDiscrepancyResultSchema'
        vessel_information:
          allOf:
            - $ref: '#/components/schemas/Basic_Vessel_Information'
            - type: object
              properties:
                stat_code5:
                  type: string
                  description: The vessel type code.
                  examples:
                    - 120AA
              required:
                - stat_code5
      required:
        - events
        - vessel_information
    PositionalDiscrepancyResultSchema:
      type: object
      title: PositionalDiscrepancyResultSchema
      description: Describes a single positional discrepancy result.
      properties:
        has_ended:
          type: boolean
          description: 'True if the event has ended, false if it is still ongoing.'
        duration_hours:
          type: integer
          description: The total duration of the discrepancy event in hours.
        event_type:
          type: string
          enum:
            - SAME_POSITION
            - BOX_FORMATION
            - CIRCLE
            - MMSI_OUTLIER
          description: The type of positional discrepancy.
        mmsi:
          type: string
          description: The vessel's MMSI number.
          examples:
            - '306197000'
        started:
          $ref: '#/components/schemas/PositionalDiscrepancyEventSchema'
        stopped:
          $ref: '#/components/schemas/PositionalDiscrepancyEventSchema'
      required:
        - has_ended
        - duration_hours
        - event_type
        - mmsi
        - started
        - stopped
    PositionalDiscrepancyEventSchema:
      type: object
      title: PositionalDiscrepancyEventSchema
      description: Describes a single started or stopped event for the positional discrepancy result.
      properties:
        timestamp:
          type: string
          description: The date and time in UTC of the event.
          format: date-time
        draught:
          type:
            - number
            - 'null'
          description: The draught at the time of the event.
          format: float
          examples:
            - 11.3
        latitude:
          type: number
          description: The latitude of the event.
          format: double
        longitude:
          type: number
          description: The longitude of the event.
          format: double
        zones:
          type:
            - array
            - 'null'
          description: A list of zones associated with the positional discrepancy event. Will be null if no zones were found.
          items:
            $ref: '#/components/schemas/ZoneAndPortDefinition'
        ports:
          type:
            - array
            - 'null'
          description: A list of ports and/or anchorages associated with the positional discrepancy event. Will be null if no ports or anchorages were found.
          items:
            $ref: '#/components/schemas/ZoneAndPortDefinition'
      required:
        - timestamp
        - draught
        - latitude
        - longitude
        - zones
        - ports
    PortStateControlResponseSchema:
      type: object
      title: Port State Control Response Schema
      description: Deinfes the complete response for the Port State Control endpoint.
      properties:
        meta:
          $ref: '#/components/schemas/Response_Metadata'
        data:
          type: object
          properties:
            inspections:
              type:
                - array
                - 'null'
              items:
                $ref: '#/components/schemas/PSCInspectionSchema'
            vessel_information:
              $ref: '#/components/schemas/Basic_Vessel_Information'
          required:
            - inspections
            - vessel_information
      required:
        - meta
        - data
    PSCInspectionSchema:
      type: object
      title: PSCInspectionSchema
      properties:
        authority:
          type: string
          description: The name of the MOU Authority
          examples:
            - Paris MOU
        detained:
          type: boolean
          description: Indicates whether the vessel was detained.
        expanded_inspection:
          type: boolean
          description: Indicates whether the inspection was an expanded/detailed inspection.
        follow_up_inspection:
          type: string
          enum:
            - 'Y'
            - 'N'
          description: '"Y" if it was a follow up inspection to a previous inspection (otherwise "N").'
          examples:
            - 'Y'
        inspection_date:
          type: string
          description: The date the inspection took place.
          format: date-time
        inspection_type:
          type: string
          enum:
            - Initial Inspection
            - Expanded Inspection
            - Detailed Inspection
            - Remote Follow-Up Inspection
            - null
          examples:
            - Initial inspection
        no_days_detained:
          type:
            - integer
            - 'null'
          description: The total number of days the vessel was detained following an inspection.
        no_defects:
          type: integer
          description: The number of defects found during ther inspection.
          format: int32
        port_information:
          type: object
          properties:
            country_code:
              type:
                - string
                - 'null'
              description: The three letter ISO country code of the port.
            country_common_name:
              type: string
              description: The common name of the country the port is located in.
            name:
              type: string
              description: The name of the port.
          required:
            - country_code
            - country_common_name
            - name
        release_date:
          type:
            - string
            - 'null'
          description: The date the ship was released from a detainment.
          format: date
      required:
        - authority
        - detained
        - expanded_inspection
        - follow_up_inspection
        - inspection_date
        - inspection_type
        - no_days_detained
        - no_defects
        - port_information
        - release_date
x-internal: false
