openapi: 3.1.0
info:
  version: '1.0'
  title: Zone and Port Insights
  summary: ''
  description: |
    A collection of endpoints which provide data and insights into zone and port activity

    This API consists of the following endpoints:

    #### Zone / Port Search
    Search for zones and/or ports to get more information, including their unique Pole Star id.

    #### Zone / Port Traffic
    This endpoint returns a list of entry and exit events for a given zone or port between a specified start and end date. The following events can be retrieved:

    **Zones:** Zone Entry, Zone Exit

    **Ports:** Port Area Arrival, Port Arrival, Port Departure, Port Area Departure

    #### Vessels in Zone / Port
    Use this endpoint to get a list of vessels which are or were in the given zone or port at a specific point in time. This can be the current or a historic date and time.
  contact:
    name: support
    url: www.polestarglobal.com/support
    email: support@polestarglobal.com
servers:
  - url: 'https://api.polestar-production.com/zone-port-insights'
    description: Production
paths:
  /v1/zones:
    get:
      summary: Zone & Port Search
      description: |-
        Search for a specific zone or port based on name or partial name.

        Use this to get the zone or port's unique id, if it is not already known.

        *Note that this endpoint requires a valid access token, provided in the Authorization header. Refer to the [Authentication page](../docs/stage-authentication.md) for more information.*
      operationId: get-v1-search
      parameters:
        - name: Authorization
          in: header
          description: Bearer token obtained via the signin endpoint.
          required: true
          schema:
            type: string
            examples:
              - Bearer eyJraWQiOiJOVGxwWjJUdElEcW1seUMwRXlCMW5IMmhxd3VZbis3dTdlTzBcLzUrM0wxZz0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI5NTYyMDU5Mi02Nzk3LTQ1ZjItOTAxZS1lNDcyMTg5MGRiOGEiLCJjb2duaXRvOmdyb3VwcyI6WyJ2b3lhZ2UtaW5zaWdodHMtZmVhdHVyZXMiLCJhZG1pbiIsInpvbmUtc2VydmljZS1mZWF0dXJlcyIsInpvbmUtbm90aWZpY2F0aW9ucy1mZWF0dXJlcyIsInBvcnQtaW5zaWdodHMtZmVhdHVyZXMiLCJ6b25lLWJ1bGstZGF0YS1hcGktZmVhdHVyZXMiXSwiaXNzIjoiaHR0cHM6XC9cL2NvZ25pdG8taWRwLnVzLWVhc3QtMS5hbWF6b25hd3MuY29tXC91cy1lYXN0LTFfeDFFTmx1eXN3IiwiY2xpZW50X2lkIjoiNnQxODV1NWUwdTMzMTZrcDhzOXQ0aTZiajUiLCJvcmlnaW5fanRpIjoiMWU2NWFhNzctNGFiOC00OTlkLTkxODgtMzVjNmUwMmE5MDc5IiwiZXZlbnRfaWQiOiJkMTBhZDMzYy1kMzQwLTQ5ZGYtOGY1Mi05YzJhYmU5NmJmZjYiLCJ0b2tlbl91c2UiOiJhY2Nlc3MiLCJzY29wZSI6ImF3cy5jb2duaXRvLnNpZ25pbi51c2VyLmFkbWluIiwiYXV0aF90aW1lIjoxNzEyNzM5ODM1LCJleHAiOjE3MTI3NDM0MzUsImlhdCI6MTcxMjczOTgzNSwianRpIjoiNDZjYzY2YjUtYzMzNC00ODJiLWE0NWYtYjQ5MmY4ZGQxZGVjIiwidXNlcm5hbWUiOiJmcmFuay5rZXVsZXJzIn0.IJ7ZkL85LzMDpO1jg5U_B3Aok7cnGKcqVvhd9bbfhBXlHVV3s1eSrdYkcM2CgkxqjEz7C-LBinTTZYvaiQL7bB9v0vMS3h4k7NF1nj61gdI8Y6jHjVKzeQtjxsMOieORbJSv7KEtiROUE4qNRdkol-E1BhYH9nDFbzxjfysXzEOz1pmY0UFMJualYadqAZhDs6U3em6R4SHvQyrtGM1WCY3m2CPysrhBEQqfgCeTKphxzkYewvYgaSrsogkBPaeXpy6r3ROeIn2iMlUYVK0GX4SlNSFd7TBnbCmYH46dQnakNZlYJvkDTf8gwF_nASU6hGFVbbi68ilaeepHqef
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/name_contains'
        - $ref: '#/components/parameters/unlocode'
        - $ref: '#/components/parameters/country_code'
        - $ref: '#/components/parameters/sub_division_code'
        - $ref: '#/components/parameters/wpi_number'
        - $ref: '#/components/parameters/type'
        - $ref: '#/components/parameters/sub_type'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponseSchema'
              examples:
                Rotterdam Port and Anchorages:
                  value:
                    meta:
                      limit: 500
                      offset: 0
                      total_count: 6
                      request_id: 9e858321-cc20-4cf5-b889-6b78f9defb70
                      request_timestamp: '2024-07-01T11:00:01Z'
                      zone_version: 0.3.3
                    data:
                      - centroid:
                          longitude: 4.515295715486665
                          latitude: 51.902754691259865
                        country_official_name: Kingdom of the Netherlands
                        country_code: NLD
                        description: ''
                        id: e4188079-26d9-4686-b8da-f0cb76fa59fb
                        name: Anchorage No.1 near Rotterdam (NL)
                        sub_type: Anchorage Area
                        type: Ports
                        unlocode: ''
                        country_common_name: Netherlands
                        sub_division_code: ''
                        sub_division_name: ''
                        wpi_number: null
                      - centroid:
                          longitude: 3.930329458877089
                          latitude: 52.02919597341632
                        country_official_name: Kingdom of the Netherlands
                        country_code: NLD
                        description: ''
                        id: 4239f63e-c1ea-4cbf-b18e-1de6e6eca91a
                        name: Anchorage No.2 near Rotterdam (NL)
                        sub_type: Anchorage Area
                        type: Ports
                        unlocode: ''
                        country_common_name: Netherlands
                        sub_division_code: ''
                        sub_division_name: ''
                        wpi_number: null
                      - centroid:
                          longitude: 3.75892882919694
                          latitude: 51.9378411268511
                        country_official_name: Kingdom of the Netherlands
                        country_code: NLD
                        description: ''
                        id: ab18f0d9-0c89-40be-ac76-7f72394dfb0e
                        name: Anchorage No.3 near Rotterdam (NL)
                        sub_type: Anchorage Area
                        type: Ports
                        unlocode: ''
                        country_common_name: Netherlands
                        sub_division_code: ''
                        sub_division_name: ''
                        wpi_number: null
                      - centroid:
                          longitude: 3.6540698233159223
                          latitude: 52.1530041509287
                        country_official_name: Kingdom of the Netherlands
                        country_code: NLD
                        description: ''
                        id: 64c9a981-ae49-4569-a7f0-028fd18dbc6c
                        name: Anchorage No.4 near Rotterdam (NL)
                        sub_type: Anchorage Area
                        type: Ports
                        unlocode: ''
                        country_common_name: Netherlands
                        sub_division_code: ''
                        sub_division_name: ''
                        wpi_number: null
                      - centroid:
                          longitude: 3.5041289866210983
                          latitude: 52.018797407628256
                        country_official_name: Kingdom of the Netherlands
                        country_code: NLD
                        description: ''
                        id: 289d54db-14f7-4759-bbc1-4940cbf0290a
                        name: Anchorage No.5 near Rotterdam (NL)
                        sub_type: Anchorage Area
                        type: Ports
                        unlocode: ''
                        country_common_name: Netherlands
                        sub_division_code: ''
                        sub_division_name: ''
                        wpi_number: null
                      - centroid:
                          longitude: 4.184498340281978
                          latitude: 51.92633663042675
                        country_official_name: Kingdom of the Netherlands
                        country_code: NLD
                        description: ''
                        id: c750eef6-52c0-4c96-9def-90f7eb8914b4
                        name: Rotterdam
                        sub_type: Port
                        type: Ports
                        unlocode: NLRTM
                        country_common_name: Netherlands
                        sub_division_code: NL-ZH
                        sub_division_name: Zuid-Holland
                        wpi_number: 31140
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
      security:
        - JWT: []
      servers:
        - url: 'https://api.polestar-production.com/zone-port-insights'
          description: Production
      x-internal: false
  '/v1/zone-and-port-traffic/{id_type}/{id}':
    get:
      summary: Zone & Port Traffic
      description: |-
        Get a list of all vessels which have entered or exited a zone, or arrived at or departed from the selected port and/or port area in a given time period.

        For each vessel the following events can be returned in the response:

        **Zones:**

        - **Zone Entry**: The vessel enters the zone
        - **Zone Exit**: The vessels exits the zone

        **Ports:**

        - **Port Area Arrival**: The vessel enters the port area
        - **Port Arrival**: The vessel has stopped inside the port area
        - **Port Departure**: The vessel has started moving again inside the port area
        - **Port Area Departure**: The vessel exits the port area

        The response will contain a list of vessel events. Each event mentioned above will generate a separate list entry. For each entry in the list, two objects are returned:

        - Event Details: This contains the details of the associated event.
        - Vessel Information: Basic vessel information like name, type, IMO Number, MMSI number, etc.

        The response will also return details about the zone or port itself for reference.

        Note that this endpoint requires a valid access token, provided in the Authorization header. Refer to the [Authentication page](../docs/stage-authentication.md) for more information.
      operationId: get-v1-zone-and-port-traffic-id
      parameters:
        - name: Authorization
          in: header
          description: Bearer token obtained via the signin endpoint.
          required: true
          schema:
            type: string
            examples:
              - Bearer eyJraWQiOiJOVGxwWjJUdElEcW1seUMwRXlCMW5IMmhxd3VZbis3dTdlTzBcLzUrM0wxZz0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI5NTYyMDU5Mi02Nzk3LTQ1ZjItOTAxZS1lNDcyMTg5MGRiOGEiLCJjb2duaXRvOmdyb3VwcyI6WyJ2b3lhZ2UtaW5zaWdodHMtZmVhdHVyZXMiLCJhZG1pbiIsInpvbmUtc2VydmljZS1mZWF0dXJlcyIsInpvbmUtbm90aWZpY2F0aW9ucy1mZWF0dXJlcyIsInBvcnQtaW5zaWdodHMtZmVhdHVyZXMiLCJ6b25lLWJ1bGstZGF0YS1hcGktZmVhdHVyZXMiXSwiaXNzIjoiaHR0cHM6XC9cL2NvZ25pdG8taWRwLnVzLWVhc3QtMS5hbWF6b25hd3MuY29tXC91cy1lYXN0LTFfeDFFTmx1eXN3IiwiY2xpZW50X2lkIjoiNnQxODV1NWUwdTMzMTZrcDhzOXQ0aTZiajUiLCJvcmlnaW5fanRpIjoiMWU2NWFhNzctNGFiOC00OTlkLTkxODgtMzVjNmUwMmE5MDc5IiwiZXZlbnRfaWQiOiJkMTBhZDMzYy1kMzQwLTQ5ZGYtOGY1Mi05YzJhYmU5NmJmZjYiLCJ0b2tlbl91c2UiOiJhY2Nlc3MiLCJzY29wZSI6ImF3cy5jb2duaXRvLnNpZ25pbi51c2VyLmFkbWluIiwiYXV0aF90aW1lIjoxNzEyNzM5ODM1LCJleHAiOjE3MTI3NDM0MzUsImlhdCI6MTcxMjczOTgzNSwianRpIjoiNDZjYzY2YjUtYzMzNC00ODJiLWE0NWYtYjQ5MmY4ZGQxZGVjIiwidXNlcm5hbWUiOiJmcmFuay5rZXVsZXJzIn0.IJ7ZkL85LzMDpO1jg5U_B3Aok7cnGKcqVvhd9bbfhBXlHVV3s1eSrdYkcM2CgkxqjEz7C-LBinTTZYvaiQL7bB9v0vMS3h4k7NF1nj61gdI8Y6jHjVKzeQtjxsMOieORbJSv7KEtiROUE4qNRdkol-E1BhYH9nDFbzxjfysXzEOz1pmY0UFMJualYadqAZhDs6U3em6R4SHvQyrtGM1WCY3m2CPysrhBEQqfgCeTKphxzkYewvYgaSrsogkBPaeXpy6r3ROeIn2iMlUYVK0GX4SlNSFd7TBnbCmYH46dQnakNZlYJvkDTf8gwF_nASU6hGFVbbi68ilaeepHqef
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/timestamp_start'
        - $ref: '#/components/parameters/timestamp_end'
        - $ref: '#/components/parameters/event_type'
        - name: id
          in: path
          description: 'The unique identifier of a zone or port. This can either be the zone or port''s UUID or a port UNLOCODE. When using a port UNLOCODE ensure that the id_type parameter is set to "unlocode". Otherwise, set the id_type as "id".'
          required: true
          schema:
            type: string
        - name: id_type
          in: path
          description: 'Sets the unique identifier by which to select a zone or port. Ports can be queried by their unique UNLOCODE, or by Pole Star''s internal identifier. Zones can only be queried using the internal id. To query by UNLOCODE, set the id_type to "unlocode". To query by id, set the type as "id".'
          required: true
          schema:
            type: string
            enum:
              - id
              - unlocode
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneAndPortTrafficResponseSchema'
              examples:
                Buenaventura COL - Port Arrivals (March 2024):
                  value:
                    meta:
                      limit: 25
                      offset: 0
                      total_count: 446
                      request_id: cab669e2-71bd-4ce8-ba06-765a81d2ba55
                      request_timestamp: '2024-07-01T10:53:33Z'
                      zone_version: 0.3.3
                    data:
                      port_information:
                        centroid:
                          longitude: -77.07312485812649
                          latitude: 3.8957853714480133
                        country_official_name: Republic of Colombia
                        country_code: COL
                        description: ''
                        id: d21d5547-45ef-4e7d-93ae-82bb9a36fc0f
                        name: Buenaventura
                        sub_type: Port
                        type: Ports
                        unlocode: COBUN
                        country_common_name: Colombia
                        sub_division_code: CO-VAC
                        sub_division_name: Valle Del Cauca
                        wpi_number: 15370
                      events:
                        - vessel_information:
                            asset_id: da3db940-c27d-48e6-a613-d28990b0a6d2
                            callsign: HKJF5
                            flag: Colombia
                            flag_code: ''
                            imo: '9536507'
                            mmsi: '730151136'
                            name: ALISIOS
                            vessel_type: Tug
                          event_details:
                            course: 73.6
                            draught: 0
                            event_id: 99f3b225-84a3-40a8-87f6-9ffe7f47e931
                            event_timestamp: '2024-03-31T21:39:12Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.893683
                            longitude: -77.0752
                            navigational_status: Under way using engine
                            reported_destination: ''
                            reported_eta: null
                            speed: 0
                        - vessel_information:
                            asset_id: 2ca37beb-a53f-4abc-ba87-12dc24f29e26
                            callsign: HKJG1
                            flag: Colombia
                            flag_code: ''
                            imo: '9675224'
                            mmsi: '730151031'
                            name: RM SIERRA NEVADA
                            vessel_type: Tug
                          event_details:
                            course: 306.9
                            draught: 4
                            event_id: d050c3be-66b3-4435-ad29-a4fbbefed236
                            event_timestamp: '2024-03-31T19:57:23Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.900682
                            longitude: -77.08587
                            navigational_status: Under way sailing
                            reported_destination: COBUN
                            reported_eta: '1970-01-20T18:37:49Z'
                            speed: 0
                        - vessel_information:
                            asset_id: da3db940-c27d-48e6-a613-d28990b0a6d2
                            callsign: HKJF5
                            flag: Colombia
                            flag_code: ''
                            imo: '9536507'
                            mmsi: '730151136'
                            name: ALISIOS
                            vessel_type: Tug
                          event_details:
                            course: 331.3
                            draught: 4.6
                            event_id: c37087b9-5425-4326-b32c-780853fb9821
                            event_timestamp: '2024-03-31T19:47:06Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.901792
                            longitude: -77.087105
                            navigational_status: Under way using engine
                            reported_destination: B\VENTURA
                            reported_eta: '1970-01-21T01:38:47Z'
                            speed: 0.3
                        - vessel_information:
                            asset_id: 71a47b59-1bd2-4d17-abf0-e5aaaf8ae302
                            callsign: 9HA5857
                            flag: Malta
                            flag_code: ''
                            imo: '9948217'
                            mmsi: '256482000'
                            name: CMA CGM EXCELLENCE
                            vessel_type: Container (FC)
                          event_details:
                            course: 306.6
                            draught: 10.3
                            event_id: e796a56e-d788-48a6-8f6d-4cffa62a8952
                            event_timestamp: '2024-03-31T19:45:38Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.90115
                            longitude: -77.08598
                            navigational_status: Under way using engine
                            reported_destination: COCTG -PAPCN- COBUN
                            reported_eta: '1970-01-20T19:31:47Z'
                            speed: 0.1
                        - vessel_information:
                            asset_id: 81c7e5b2-7f56-4186-9113-783e6219bc0f
                            callsign: HKZP9
                            flag: Colombia
                            flag_code: ''
                            imo: '9335927'
                            mmsi: '730153594'
                            name: RM MISTRAL
                            vessel_type: Tug
                          event_details:
                            course: 184.7
                            draught: 4.2
                            event_id: db9e5470-d82b-4737-9fc3-bc4fa42b837f
                            event_timestamp: '2024-03-31T19:31:13Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.89374
                            longitude: -77.0783
                            navigational_status: Under way using engine
                            reported_destination: BUENAVENTURA
                            reported_eta: '1970-01-20T23:58:44Z'
                            speed: 0.2
                        - vessel_information:
                            asset_id: ef26e31c-0ed3-4397-a0df-a3c6b19a57c4
                            callsign: 9HA3435
                            flag: Malta
                            flag_code: ''
                            imo: '9628192'
                            mmsi: '229598000'
                            name: VANTAGE
                            vessel_type: Container (FC)
                          event_details:
                            course: 150.8
                            draught: 11.5
                            event_id: 6366e04d-cd4c-476f-b2fd-e51c28c1d2b0
                            event_timestamp: '2024-03-31T19:26:45Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.893407
                            longitude: -77.079636
                            navigational_status: Moored
                            reported_destination: COBUN
                            reported_eta: '1970-01-20T19:31:45Z'
                            speed: 0
                        - vessel_information:
                            asset_id: b691c31d-c273-468a-80fe-07ca5476a5d9
                            callsign: PE6851
                            flag: Netherlands
                            flag_code: ''
                            imo: '7382902'
                            mmsi: '244538000'
                            name: ARCTIC SUNRISE
                            vessel_type: Yacht
                          event_details:
                            course: 236.8
                            draught: 0
                            event_id: ee6babb0-c8ae-4c0a-9d97-a9056a370f87
                            event_timestamp: '2024-03-31T15:41:06Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.893025
                            longitude: -77.08112
                            navigational_status: Moored
                            reported_destination: ''
                            reported_eta: null
                            speed: 0
                        - vessel_information:
                            asset_id: 2ca37beb-a53f-4abc-ba87-12dc24f29e26
                            callsign: HKJG1
                            flag: Colombia
                            flag_code: ''
                            imo: '9675224'
                            mmsi: '730151031'
                            name: RM SIERRA NEVADA
                            vessel_type: Tug
                          event_details:
                            course: 135.2
                            draught: 4
                            event_id: f3ee5d5a-7d09-4219-883f-6ee03c10f36c
                            event_timestamp: '2024-03-31T13:09:43Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.891047
                            longitude: -77.062485
                            navigational_status: Under way sailing
                            reported_destination: COBUN
                            reported_eta: '1970-01-20T18:37:49Z'
                            speed: 0
                        - vessel_information:
                            asset_id: 6fd5f697-9875-4923-a633-2ff35703b389
                            callsign: HKJG2
                            flag: Colombia
                            flag_code: ''
                            imo: '9675248'
                            mmsi: '730151019'
                            name: RM MAGDALENA
                            vessel_type: Tug
                          event_details:
                            course: 174.1
                            draught: 0
                            event_id: 9192631d-560d-44a0-a83e-1931e13dd3d9
                            event_timestamp: '2024-03-31T12:47:27Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.891798
                            longitude: -77.06367
                            navigational_status: Under way using engine
                            reported_destination: ''
                            reported_eta: null
                            speed: 0
                        - vessel_information:
                            asset_id: 53b1beb3-af73-411c-87ae-bc0b3399743b
                            callsign: 3EFQ8
                            flag: Panama
                            flag_code: ''
                            imo: '9675743'
                            mmsi: '357330000'
                            name: ULTRA CORY
                            vessel_type: Bulk carrier
                          event_details:
                            course: 136.4
                            draught: 0
                            event_id: 1fae7b00-732e-43cc-8ee8-ff579a9db7d1
                            event_timestamp: '2024-03-31T12:44:07Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.890807
                            longitude: -77.06279
                            navigational_status: Under way using engine
                            reported_destination: ''
                            reported_eta: null
                            speed: 0
                        - vessel_information:
                            asset_id: 2ca37beb-a53f-4abc-ba87-12dc24f29e26
                            callsign: HKJG1
                            flag: Colombia
                            flag_code: ''
                            imo: '9675224'
                            mmsi: '730151031'
                            name: RM SIERRA NEVADA
                            vessel_type: Tug
                          event_details:
                            course: 243.7
                            draught: 4
                            event_id: 7bc40b0a-ca6b-4344-9ff9-c32aabdc122e
                            event_timestamp: '2024-03-31T05:40:05Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.892747
                            longitude: -77.08155
                            navigational_status: Under way sailing
                            reported_destination: COBUN
                            reported_eta: '1970-01-20T18:37:49Z'
                            speed: 0
                        - vessel_information:
                            asset_id: 2ca37beb-a53f-4abc-ba87-12dc24f29e26
                            callsign: HKJG1
                            flag: Colombia
                            flag_code: ''
                            imo: '9675224'
                            mmsi: '730151031'
                            name: RM SIERRA NEVADA
                            vessel_type: Tug
                          event_details:
                            course: 324.5
                            draught: 4
                            event_id: 569ec822-24fc-47ca-8798-cb042a1f44a3
                            event_timestamp: '2024-03-31T02:46:35Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.891847
                            longitude: -77.0643
                            navigational_status: Under way sailing
                            reported_destination: COBUN
                            reported_eta: '1970-01-20T18:37:49Z'
                            speed: 0
                        - vessel_information:
                            asset_id: 6fd5f697-9875-4923-a633-2ff35703b389
                            callsign: HKJG2
                            flag: Colombia
                            flag_code: ''
                            imo: '9675248'
                            mmsi: '730151019'
                            name: RM MAGDALENA
                            vessel_type: Tug
                          event_details:
                            course: 320.4
                            draught: 0
                            event_id: de42b891-0c7f-4acb-975c-34bd82fc3e55
                            event_timestamp: '2024-03-31T02:45:14Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.892747
                            longitude: -77.081535
                            navigational_status: Under way using engine
                            reported_destination: ''
                            reported_eta: null
                            speed: 0.2
                        - vessel_information:
                            asset_id: 6fd5f697-9875-4923-a633-2ff35703b389
                            callsign: HKJG2
                            flag: Colombia
                            flag_code: ''
                            imo: '9675248'
                            mmsi: '730151019'
                            name: RM MAGDALENA
                            vessel_type: Tug
                          event_details:
                            course: 143.4
                            draught: 0
                            event_id: 807fbd68-6b26-4f57-84a2-d0da85f6eb65
                            event_timestamp: '2024-03-30T23:51:35Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.892758
                            longitude: -77.08159
                            navigational_status: Under way using engine
                            reported_destination: ''
                            reported_eta: null
                            speed: 0
                        - vessel_information:
                            asset_id: da3db940-c27d-48e6-a613-d28990b0a6d2
                            callsign: HKJF5
                            flag: Colombia
                            flag_code: ''
                            imo: '9536507'
                            mmsi: '730151136'
                            name: ALISIOS
                            vessel_type: Tug
                          event_details:
                            course: 345
                            draught: 4.6
                            event_id: c4c93bd3-ef31-40a7-8b60-a0465c9106cd
                            event_timestamp: '2024-03-30T23:11:20Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.894162
                            longitude: -77.07494
                            navigational_status: Under way using engine
                            reported_destination: B\VENTURA
                            reported_eta: '1970-01-21T01:38:47Z'
                            speed: 0.3
                        - vessel_information:
                            asset_id: ab2b4d6e-e5b1-4def-bafe-5f9b2694c23c
                            callsign: C6FI8
                            flag: Bahamas
                            flag_code: ''
                            imo: '9938432'
                            mmsi: '311001121'
                            name: POSORJA EXPRESS
                            vessel_type: Container (FC)
                          event_details:
                            course: 169.8
                            draught: 11.1
                            event_id: c06db903-381a-4016-b76c-3dfd86b0bdaf
                            event_timestamp: '2024-03-30T23:08:52Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.893635
                            longitude: -77.07545
                            navigational_status: Under way using engine
                            reported_destination: COBUN
                            reported_eta: '1970-01-20T19:30:32Z'
                            speed: 0
                        - vessel_information:
                            asset_id: 2ca37beb-a53f-4abc-ba87-12dc24f29e26
                            callsign: HKJG1
                            flag: Colombia
                            flag_code: ''
                            imo: '9675224'
                            mmsi: '730151031'
                            name: RM SIERRA NEVADA
                            vessel_type: Tug
                          event_details:
                            course: 296.4
                            draught: 0
                            event_id: bd8eadde-ac86-4d44-9b55-023ca6815fcc
                            event_timestamp: '2024-03-30T22:08:11Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.903212
                            longitude: -77.088905
                            navigational_status: Under way sailing
                            reported_destination: ''
                            reported_eta: null
                            speed: 0.4
                        - vessel_information:
                            asset_id: a4dac360-e488-4bb7-bdbc-aae59cb40adf
                            callsign: V7A6318
                            flag: Marshall Islands
                            flag_code: ''
                            imo: '9969182'
                            mmsi: '538010919'
                            name: SSI PHOENIX
                            vessel_type: Bulk carrier
                          event_details:
                            course: 305.8
                            draught: 0
                            event_id: f69c3f5c-a31c-4945-abb2-fcfd62f07284
                            event_timestamp: '2024-03-30T22:04:50Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.902133
                            longitude: -77.087425
                            navigational_status: Under way using engine
                            reported_destination: ''
                            reported_eta: null
                            speed: 0.4
                        - vessel_information:
                            asset_id: 6fd5f697-9875-4923-a633-2ff35703b389
                            callsign: HKJG2
                            flag: Colombia
                            flag_code: ''
                            imo: '9675248'
                            mmsi: '730151019'
                            name: RM MAGDALENA
                            vessel_type: Tug
                          event_details:
                            course: 353.8
                            draught: 0
                            event_id: b4be469b-7115-417f-a806-1c9dc06a6c5e
                            event_timestamp: '2024-03-30T21:54:37Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.900947
                            longitude: -77.08652
                            navigational_status: Under way using engine
                            reported_destination: ''
                            reported_eta: null
                            speed: 0.4
                        - vessel_information:
                            asset_id: da3db940-c27d-48e6-a613-d28990b0a6d2
                            callsign: HKJF5
                            flag: Colombia
                            flag_code: ''
                            imo: '9536507'
                            mmsi: '730151136'
                            name: ALISIOS
                            vessel_type: Tug
                          event_details:
                            course: 158.3
                            draught: 4.6
                            event_id: 31dae776-09b0-4a66-b383-9c7ad16e6796
                            event_timestamp: '2024-03-30T15:45:08Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.89362
                            longitude: -77.07428
                            navigational_status: Under way using engine
                            reported_destination: B\VENTURA
                            reported_eta: '1970-01-21T01:38:47Z'
                            speed: 0
                        - vessel_information:
                            asset_id: 13585347-db27-496a-b147-b382847ed834
                            callsign: V7JK8
                            flag: Marshall Islands
                            flag_code: ''
                            imo: '9308003'
                            mmsi: '538008152'
                            name: NAVIOS SUMMER
                            vessel_type: Container (FC)
                          event_details:
                            course: 222.5
                            draught: 11.8
                            event_id: 26dbcbcc-918b-400f-b6ad-97d2c95bcf34
                            event_timestamp: '2024-03-30T13:58:36Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.893087
                            longitude: -77.04311
                            navigational_status: Moored
                            reported_destination: COBUN
                            reported_eta: '1970-01-20T19:30:03Z'
                            speed: 0
                        - vessel_information:
                            asset_id: 6fd5f697-9875-4923-a633-2ff35703b389
                            callsign: HKJG2
                            flag: Colombia
                            flag_code: ''
                            imo: '9675248'
                            mmsi: '730151019'
                            name: RM MAGDALENA
                            vessel_type: Tug
                          event_details:
                            course: 307.3
                            draught: 0
                            event_id: ecd09bbd-95dc-48dc-85b9-90bafb5f7ead
                            event_timestamp: '2024-03-30T13:25:05Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.892742
                            longitude: -77.08156
                            navigational_status: Under way using engine
                            reported_destination: ''
                            reported_eta: null
                            speed: 0.2
                        - vessel_information:
                            asset_id: da3db940-c27d-48e6-a613-d28990b0a6d2
                            callsign: HKJF5
                            flag: Colombia
                            flag_code: ''
                            imo: '9536507'
                            mmsi: '730151136'
                            name: ALISIOS
                            vessel_type: Tug
                          event_details:
                            course: 122.2
                            draught: 4.6
                            event_id: 8124b8d2-0c4e-4648-8869-8a2775b09938
                            event_timestamp: '2024-03-30T12:31:27Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.893735
                            longitude: -77.07438
                            navigational_status: Under way using engine
                            reported_destination: B\VENTURA
                            reported_eta: '1970-01-21T01:38:47Z'
                            speed: 0
                        - vessel_information:
                            asset_id: 2ca37beb-a53f-4abc-ba87-12dc24f29e26
                            callsign: HKJG1
                            flag: Colombia
                            flag_code: ''
                            imo: '9675224'
                            mmsi: '730151031'
                            name: RM SIERRA NEVADA
                            vessel_type: Tug
                          event_details:
                            course: 101.6
                            draught: 4
                            event_id: 83045a2c-12a0-4df4-b856-dee8ab2c346c
                            event_timestamp: '2024-03-30T12:30:57Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.892705
                            longitude: -77.081406
                            navigational_status: Under way sailing
                            reported_destination: COBUN
                            reported_eta: '1970-01-20T18:37:49Z'
                            speed: 0.2
                        - vessel_information:
                            asset_id: 81c7e5b2-7f56-4186-9113-783e6219bc0f
                            callsign: HKZP9
                            flag: Colombia
                            flag_code: ''
                            imo: '9335927'
                            mmsi: '730153594'
                            name: RM MISTRAL
                            vessel_type: Tug
                          event_details:
                            course: 265.8
                            draught: 4.2
                            event_id: e8174bea-9253-45b2-a385-6d67d4649368
                            event_timestamp: '2024-03-30T12:25:11Z'
                            event_type: PORT_ARRIVAL
                            heading: 0
                            latitude: 3.893782
                            longitude: -77.07439
                            navigational_status: Under way using engine
                            reported_destination: BUENAVENTURA
                            reported_eta: '1970-01-20T23:58:44Z'
                            speed: 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
      security:
        - JWT: []
      servers:
        - url: 'https://api.polestar-production.com/zone-port-insights'
          description: Production
      x-internal: false
components:
  parameters:
    event_type:
      name: event_type
      in: query
      description: 'Filter on specific zone or port events. If omitted, all events will be considered.'
      required: false
      schema:
        type: array
        enum:
          - PORT_AREA_ARRIVAL
          - PORT_AREA_DEPARTURE
          - PORT_ARRIVAL
          - PORT_DEPARTURE
          - ZONE_ENTRY
          - ZONE_EXIT
        minItems: 1
        default: 'PORT_AREA_ARRIVAL, PORT_AREA_DEPARTURE, PORT_ARRIVAL, PORT_DEPARTURE'
        examples:
          - 'PORT_ARRIVAL, PORT_DEPARTURE'
        uniqueItems: true
    limit:
      name: limit
      in: query
      description: Maximum number of matching results to return.
      required: true
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 500
        default: 100
        examples:
          - 100
    offset:
      name: offset
      in: query
      description: The number of records to skip. works in conjuction with limit.
      required: true
      schema:
        type: integer
        format: int32
        minimum: 0
        default: 0
        examples:
          - 0
    timestamp_end:
      name: timestamp_end
      in: query
      description: The end date and time in UTC for which to get the vessels in the port.
      required: false
      schema:
        type: string
        format: date-time
    timestamp_start:
      name: timestamp_start
      in: query
      description: The start date and time in UTC from which to get the vessels in the port.
      required: true
      schema:
        type: string
        format: date-time
    name_contains:
      name: name_contains
      in: query
      description: Name or partial name of the port. Use this parameter to search for particular ports by name.
      required: false
      schema:
        type: string
    sub_division_code:
      name: sub_division_code
      in: query
      description: Filter results by sub division.
      required: false
      schema:
        type: string
    unlocode:
      name: unlocode
      in: query
      description: The port's unique UNLOCODE. Use either this parameter or the name_contains parameter. Using both may result in matches getting excluded.
      required: false
      schema:
        type: string
    country_code:
      name: country_code
      in: query
      description: Filter results by country using the three letter country code. All countries will be included if this parameter is omitted.
      required: false
      schema:
        type: string
    wpi_number:
      name: wpi_number
      in: query
      description: Filter resuls by World Port Index number.
      required: false
      schema:
        type: number
    sub_type:
      name: sub_type
      in: query
      description: Filter by specific zone or port sub types. Avoid using both the type and sub_type filters as they could be mutually exclusive.
      required: false
      schema:
        type: array
        enum:
          - NOX
          - SOX
          - Territorial Sea
          - Internal Waters
          - Domestic ECA
          - Exclusive Economic Zones (EEZ)
          - ERZ
          - WOA
          - OFAC
          - HRA
          - Channels
          - Canals
          - Designated STS Area
          - Circular
          - Port
          - Anchorage Area
          - Marina
          - Off-shore Terminal
          - Floating Storage (FSO/FPSO)
        minItems: 1
        examples:
          - 'CANALS,CHANNELS'
        uniqueItems: true
    type:
      name: type
      in: query
      description: Filter the request by specific zone types. If omitted all types will be included in the request.
      required: false
      schema:
        type: array
        enum:
          - Emission Control Areas (ECA)
          - JWC War Zones
          - Waterways
          - Jurisdictional
          - IBF
          - Regulatory
          - Ports
          - Custom
        uniqueItems: true
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    SearchResponseSchema:
      type: object
      title: SearchResponseSchema
      description: Describes the response body of the Zone and Port Search endpoint.
      properties:
        meta:
          $ref: '#/components/schemas/Response_Metadata'
        data:
          type: array
          items:
            $ref: '#/components/schemas/ZoneAndPortDefinition'
    Response_Metadata:
      type: object
      title: Response Metadata
      description: Describes the metadata object returned in every response.
      properties:
        limit:
          type: integer
          description: The maximum number of results to be returned in the response. Works in conjuction with offset.
          format: int32
          minimum: 1
          maximum: 500
          default: 100
          examples:
            - 100
        offset:
          type: integer
          description: The number of records to skip. works in conjuction with limit.
          format: int32
          minimum: 0
          default: 0
          examples:
            - 0
        request_id:
          type: string
          description: The unique identifier of the request.
          format: uuid
          examples:
            - 266ea41d-adf5-480b-af50-15b940c2b846
        request_timestamp:
          type: string
          description: The date and time in UTC the request was made.
          format: date-time
          examples:
            - '2019-08-24T14:15:22Z'
        total_count:
          type: integer
          description: The total number of results across the entire request. This ignores the chosen limit value.
          format: int32
          examples:
            - 95
      required:
        - request_id
        - request_timestamp
    ZoneAndPortDefinition:
      type: object
      title: ZoneAndPortDefinition
      description: 'Describes a single zone or port, excluding polygon data.'
      properties:
        centroid:
          type: object
          properties:
            latitude:
              type: number
              description: The latitude of the centroid of the zone or port.
              format: double
              examples:
                - 47.1231231
            longitude:
              type: number
              description: The longitude of the centroid of the zone or port.
              format: double
              examples:
                - 179.99999999
        country_code:
          type: string
          description: '**(Port Only)** The 3 letter ISO country code of the country the port is located in.'
          examples:
            - NLD
        country_common_name:
          type: string
          description: '**(Port Only)** The common name of the country the port is located in.'
          examples:
            - Netherlands
        country_official_name:
          type: string
          description: |
            **(Port Only)** The official name of the country the port is located in.
          examples:
            - Kingdom of the Netherlands
        description:
          type: string
          description: The description of the zone or port (where available).
        id:
          type: string
          description: The unique identifier of the zone or port.
          format: uuid
        name:
          type: string
          description: The name of the zone or port.
        sub_division_code:
          type: string
          description: '**(Port Only)** The code of the geographic sub division the port belongs to.'
        sub_division_name:
          type: string
          description: '**(Port Only)** The geographic sub division the port belongs to.'
        sub_type:
          $ref: '#/components/schemas/ZoneAndPortSubTypes'
          description: The sub type of the zone or port (where applicable).
        type:
          $ref: '#/components/schemas/ZoneAndPortTypes'
          description: The type of zone. Port zones will be marked as "Ports".
        unlocode:
          type: string
          description: '**(Port Only)** The port''s UNLOCODE'
        wpi_number:
          type:
            - integer
            - 'null'
          description: '**(Port Only)** The World Ports Index identifier of the port.'
      required:
        - centroid
        - description
        - id
        - name
        - sub_type
        - type
    ZoneAndPortSubTypes:
      type: string
      enum:
        - Domestic ECA
        - NOX
        - SOX
        - ERZ
        - HRA
        - WOA
        - Exclusive Economic Zones (EEZ)
        - Internal Waters
        - Territorial Sea
        - OFAC
        - Canals
        - Channels
        - Straits
        - Port
        - Anchorage Area
        - Designated STS Area
        - Floating Storage (FSO/FPSO)
        - Marina
        - Off-shore Terminal
      title: ZoneAndPortSubTypes
    ZoneAndPortTypes:
      type: string
      enum:
        - Emission Control Areas (ECA)
        - IBF
        - Jurisdictional
        - JWC War Zones
        - Regulatory
        - Waterways
        - Ports
        - Custom
      title: ZoneAndPortTypes
    Error_Response:
      type: object
      title: Error Response
      description: Describes the general format of an HTTP error response.
      properties:
        detail:
          type: string
          description: Human-readable description of the error.
          examples:
            - The timestamp_end parameter was included in the request but no value was supplied.
        documentation:
          type: string
          format: uri
        field:
          type: string
          description: The parameter or field the error relates to (if known).
          examples:
            - timestamp_end
        request_id:
          type: string
          description: The unique identifier of this request.
          format: uuid
          examples:
            - 66ea41d-adf5-480b-af50-15b940c2b846
        resource_uri:
          type: string
          description: The requested resource's URI
          format: uri
          examples:
            - /v1/zone-traffic/266ea41d-adf5-480b-af50-15b940c2b846
        status:
          type: integer
          enum:
            - 400
            - 401
            - 403
            - 404
            - 405
            - 422
            - 429
            - 500
          description: The HTTP status code.
          examples:
            - '400'
        timestamp:
          type: string
          description: The date and time in UTC the error was generated.
          format: date-time
          examples:
            - '2019-08-24T14:15:22Z'
        title:
          type: string
          description: Human-readable summary of the problem.
          examples:
            - Timestamp End value not supplied
      required:
        - request_id
        - status
        - timestamp
    ZoneAndPortTrafficResponseSchema:
      type: object
      title: ZoneAndPortTrafficResponseSchema
      description: Describes the complete response for the Zone and Port Traffic endpoint.
      properties:
        meta:
          $ref: '#/components/schemas/Response_Metadata'
        data:
          type: object
          properties:
            events:
              type: array
              items:
                $ref: '#/components/schemas/ZoneAndPortEventSchema'
            zone_port_information:
              type: array
              items:
                $ref: '#/components/schemas/ZoneAndPortDefinition'
    ZoneAndPortEventSchema:
      type: object
      title: ZoneAndPortEventSchema
      description: Describes a single zone or port event for a single vessel.
      properties:
        event_details:
          $ref: '#/components/schemas/Vessel_Geo_Event'
        vessel_information:
          $ref: '#/components/schemas/Basic_Vessel_Information'
    Vessel_Geo_Event:
      type: object
      title: Vessel Geo Event
      description: Describes a single geospatial event which can occur for/on a vessel.
      properties:
        course:
          type:
            - number
            - 'null'
          description: |-
            The vessel's course at the time of the position which triggered the event.

            Will be null if unknown.
          format: float
          examples:
            - 0
        draught:
          type:
            - number
            - 'null'
          description: |-
            The vessel's draught in meters at the time of the position which triggered the event.

            Will be null if unknown.
          format: float
          examples:
            - 11.3
        event_id:
          type: string
          description: The unique identifier of the event.
          format: uuid
          examples:
            - a7a26ff2-e851-45b6-9634-d595f45458b7
        event_timestamp:
          type: string
          description: The date and time in UTC at which the event occurred.
          format: date-time
          examples:
            - '2019-08-24T14:15:22Z'
        event_type:
          type: string
          enum:
            - PORT_AREA_ARRIVAL
            - PORT_ARRIVAL
            - PORT_AREA_DEPARTURE
            - PORT_DEPARTURE
            - ZONE_ENTRY
            - ZONE_EXIT
          description: The type of event which was generated.
        heading:
          type:
            - integer
            - 'null'
          description: 'The direction in which a vessel''s bow is pointing at a given time, expressed as the angle between North and the bow of the boat.'
          format: int32
          examples:
            - 160
        latitude:
          type: number
          description: The latitude of a specific location or event.
          format: double
          examples:
            - 47.1231231
        longitude:
          type: number
          description: The longitude of a specific location or event.
          format: double
          examples:
            - 179.99999999
        navigational_status:
          description: The navigational status of the vessel as reported in the AIS message of the position which triggered the event.
          oneOf:
            - $ref: '#/components/schemas/NavigationalStatusObject'
            - $ref: '#/components/schemas/NavigationalStatusField'
        reported_destination:
          type:
            - string
            - 'null'
          description: The vessel's next destination as described in the AIS position message.
        reported_eta:
          type:
            - string
            - 'null'
          description: 'The reported ETA for the vessel next reported destination. Note that these values are derived from the AIS messages and may show raw, unprocessed destination data.'
          format: date-time
        speed:
          type:
            - number
            - 'null'
          description: 'The speed of the vessel at the time of the position which triggered the event, expressed in knots.'
          format: float
          examples:
            - 9.7
      required:
        - course
        - draught
        - event_id
        - event_timestamp
        - event_type
        - heading
        - latitude
        - longitude
        - navigational_status
        - reported_destination
        - reported_eta
        - speed
      examples:
        - course: 0
          draught: 11.3
          event_id: a7a26ff2-e851-45b6-9634-d595f45458b7
          event_timestamp: '2019-08-24T14:15:22Z'
          event_type: PORT_AREA_ARRIVAL
          heading: 160
          latitude: 47.1231231
          longitude: 179.99999999
          navigational_status:
            status: Undefined
            code: 0
          reported_destination: string
          reported_eta: string
          speed: 9.7
      x-examples:
        Example 1:
          course: 0
          draught: 11.3
          event_id: a7a26ff2-e851-45b6-9634-d595f45458b7
          event_timestamp: '2019-08-24T14:15:22Z'
          event_type: ZONE_ENTRY
          heading: 160
          latitude: '47.1231231'
          longitude: '179.99999999'
          navigational_status: string
          reported_destination: string
          reported_eta: string
          speed: '9.70'
    NavigationalStatusObject:
      type: object
      title: NavigationalStatusObject
      properties:
        status:
          $ref: '#/components/schemas/Field_NavigationalStatus'
        code:
          $ref: '#/components/schemas/Field_NavigationalStatusCode'
    Field_NavigationalStatus:
      type: string
      enum:
        - Undefined
        - Under way using engine
        - At anchor
        - Not under command
        - Restricted maneuverability
        - Constrained by her draught
        - Moored
        - Aground
        - Engaged in fishing
        - Under way sailing
        - 'Reserved for future amendment of navigational status for ships carrying DG, HS, or MP, or IMO hazard or pollutant category C, high speed craft (HSC)'
        - 'Reserved for future amendment of navigational status for ships carrying dangerous goods (DG), harmful substances (HS) or marine pollutants (MP), or IMO hazard or pollutant category A, wing in ground (WIG)'
        - Power-driven vessel towing astern (regional use)
        - Power-driven vessel pushing ahead or towing alongside (regional use)
        - Reserved for future use
        - 'AIS-SART (active), MOB-AIS, EPIRB-AIS'
      title: Field_NavigationalStatus
      description: The navigational status of the vessel as reported in the AIS message of the position which triggered the event.
      examples:
        - Under way using engine
    Field_NavigationalStatusCode:
      type: integer
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
        - 9
        - 10
        - 11
        - 12
        - 13
        - 14
        - 15
      title: Field_NavigationalStatusCode
      description: The navigational status code of the vessel as reported in the AIS message of the position which triggered the event.
    NavigationalStatusField:
      type: object
      title: NavigationalStatusField
      properties:
        navigational_status:
          $ref: '#/components/schemas/Field_NavigationalStatus'
    Basic_Vessel_Information:
      type: object
      title: Basic Vessel Information
      description: Describes all the basic vessel characteristics and identifiers.
      properties:
        asset_id:
          type: string
          description: Pole Star's unique asset identifier
          format: uuid
          examples:
            - b4695157-0d1d-4da0-8f9e-5c53149389e4
        callsign:
          type: string
          description: The vessel's call sign
          examples:
            - OXLT2
        flag:
          type: string
          description: The country name of the flag registry the vessel is flagged to.
          examples:
            - Denmark
        flag_code:
          type: string
          description: The three letter ISO country code of the country the vessel is flagged to
          examples:
            - DNK
        imo:
          type: string
          description: The vessel's IMO number
          examples:
            - '9456757'
        mmsi:
          type: string
          description: The vessel's MMSI number
          examples:
            - '219033000'
        name:
          type: string
          description: The name of the vessel
          examples:
            - MAERSK EDINBURGH
        vessel_type:
          type: string
          description: The vessel type classification.
      required:
        - asset_id
x-internal: false
